<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuenti.tuentitv">

  <!-- Application permissions -->

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>

  <!-- Application configuration -->
  <application
      android:name="com.github.pedrovgs.tuentitv.TuentiTvApplication"
      android:allowBackup="true"
      android:icon="@drawable/icn_application"
      android:label="@string/app_name"
      android:theme="@style/TuentiTvTheme">

    <!-- Login Activity -->

    <activity
        android:name="com.github.pedrovgs.tuentitv.ui.activity.LoginActivity"
        android:logo="@drawable/icn_application"
        android:screenOrientation="landscape">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
      </intent-filter>
    </activity>

    <!-- Enter Password Activity -->

    <activity
        android:name="com.github.pedrovgs.tuentitv.ui.activity.EnterPasswordActivity"
        android:screenOrientation="landscape"
        android:theme="@style/TuentiTvTheme.DialogActivity"/>

    <!-- Loading Activity -->

    <activity
        android:name="com.github.pedrovgs.tuentitv.ui.activity.LoadingActivity"
        android:screenOrientation="landscape"/>

    <!-- Main Activity -->

    <activity
        android:name="com.github.pedrovgs.tuentitv.ui.activity.MainActivity"
        android:screenOrientation="landscape"/>

    <!-- Search Activity -->

    <activity
        android:name="com.github.pedrovgs.tuentitv.ui.activity.SearchActivity"
        android:screenOrientation="landscape">
    </activity>

    <!-- ShowImage Activity -->

    <activity
        android:name="com.github.pedrovgs.tuentitv.ui.activity.ShowImageActivity"
        android:label="@string/title_activity_show_image">
    </activity>

  </application>

</manifest>
